<!DOCTYPE html>
<html>
<head>
<title>login</title>
<link rel="stylesheet"  href="stylesheets/style1.css">
</head>
<body background="images/1.jpg">
<h1>login</h1>


<div class="container">


 <form action="/loginform" method="post" >
 
    <span>User Name:</span>
    <input type="text" placeholder="username" name="username"><br><br>
    <label>Email:</label>
    <input type="email" placeholder="mail" name="mail"><br><br>  
    <span>Password:</span>
    <input type="password" placeholder="password" name="password"><br><br>
    <input type="submit" name = "submit" value="login">
     
 </form>
 </div>
</body>
</html>
