
h1{
	font-size:40px;
	color: white;
	text-align:center;
	font-family: Trebuchet MS;
}

.container {
  width: 360px;
  margin: auto;
}


.form {
  position: absolute;
  top:35%;
  left:32%;
  width: 450px;
  height: auto;
  margin: 0 auto 100px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 65px;
}


.form input {
 padding:15px;
 margin: 0 0 23px;
}
input[type="date"] {
    width: 34%;
	color: ivory;
	opacity: 0.7;
}



.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: rgba(16,89,255, 1);
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}


input[type="text"] {
    width: 80%;
}
input[type="input"] {
    width: 80%;
}
input[type="email"] {
    width: 80%;
}
input[type="date"] {
    width: 80%;
}
input[type="password"] {
    width: 80%;
}

input[type="submit"]{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	background-color: green;
	width: 86%;
	padding: 15px;
	color: white;
	font-size: 14px;
	margin:none;
	border:none;
}

label {
    font-size: 20px;
	color:blue
	; 
}
span {
	font-size: 20px;
	color: ivory;
}
.form button a{
  color: #FFFFFF;

}



input[type="text"], input {
	background: rgba(255,255,255, 0.1);
	border-radius: 25px;
	border:none;
	color:ivory;
}
::placeholder {
  color:white;
  opacity: 0.7;
}
